/* Stylesheet for my home Web site.
 *
 * Created.  -- rgr, 30-Aug-03.
 */

body {
  color: black;
  font-family: helvetica, sans-serif;
  margin: 10px;
  background: #EFF;
}

/* A "howto" <DL> list shows a group of related operational recipes, identified
 * by a <DT> phrase describing what's being accomplished.  We put the <DT>
 * content in bold, and set the <DD> content off as a paragraph.  [Maybe we
 * should explicitly treat the <dd> items as blocks?  -- rgr, 15-Dec-02.]
 */
dl.howto > dt {
  font-weight: bold;
  margin-left: 15px
}
dl.howto > dd {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* A "steps" list is similar. */
ol.steps > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* "Facts" lists show a group of related items, similar to "howto" lists.
 */
dl.facts > dt {
  font-weight: bold;
  margin-left: 5px
}
dl.facts > dd {
  margin-top: 10px;
  margin-bottom: 10px;
}
ol.facts > li {
  margin-top: 10px;
  margin-bottom: 10px;
}
ul.facts > li {
  margin-top: 10px;
  margin-bottom: 10px;
}
